<table>
    <tr>
        <td><a href="{{site.baseurl}}/tri3lesson/summary">Summary</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-1">Effects</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-2">Digital Divide</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-3">Computing Bias</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-4">Crowdsourcing</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-5">Legal/Ethical Concerns</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-6">Safe Computing</a></td>
    </tr>
</table>

<table>
    <tr>
        <td><a href="{{site.baseurl}}/tri3lesson/3-7">Binary Search Algorithm</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-8">Lists and Filtering Algorithm</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-9">Simulation/Games and Random Algorithms</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-10">Big O and Algorithm Efficiency</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-11">Binary Base 2 Math + Logic Gates</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/3-12">Color Codes/Images/Base64</a></td>
        <td><a href="{{site.baseurl}}/tri3lesson/Relevancy">Relevancy</a></td>
    </tr>
</table>